<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="//cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
            <script type="text/javascript" charset="utf-8">
            //var movies = "http://127.0.0.1:8000/movies/api/movie/";
            var movies = "{% url 'movies:movie-list' %}";

            var tab = {
                view:"datatable", id:"datatable", url: movies,
                columns:[
                    { id:"id",    header:"",              adjust: true},
                    { id:"title",   header:"title",    adjust: true},
                    { id:"description",   header:"description",    adjust: true},
                    { id:"created_at",   header:"created at",         adjust: true},
                    { id:"updated_at",   header:"updated at",         adjust: true},
                    { id:"addchar",	header:"add new character", adjust: true,
                        template:function(obj){ 
                        return "<div class='webix_el_button'><button class='webixtype_base'>Add</button></div>";
                        }
                    }
                ],
                onClick:{
                    webixtype_base:function(ev, id, html){
                        webix.send("/movies/charform/"+id, null, "GET");
                    //webix.alert("Clicked row "+id);
                    }
                },
                select:true,
                autoheight:true,
                scroll: "auto",
                on:{
                    onAfterLoad:function(){
                    this.sort("id", "asc","int");
                    this.markSorting("id", "asc","int");
                    }
                }
            }

            var form = {
                view:"form", id:"form1", scroll:false,
                elements:[
                    { view:"text", name:"title", label:"Title" },
                    { view:"textarea", name:"description", label:"Description" , labelWidth: "auto"},
                    {cols:[
                        { view:"button", value:"Create", width:100,
                            click:function(){ 
                                webix.ajax().post("{% url 'movies:movie-list' %}", $$("form1").getValues() ).then(function(result){
                                    location.reload();
                                }).fail(function(xhr){
                                    var response = JSON.parse(xhr.response);
                                    webix.message({type: 'error', text: response.error.message});
                                });
                                
                                webix.message("'Create' action");
                            }

                        },
                        { view:"button", value:"Update", width:100,
                            click:function(){
                                webix.ajax().put("{% url 'movies:movie-detail' 0%}".replace("0",$$("datatable").getSelectedId(false)), $$("form1").getValues()).then(function(result){
                                    location.reload();
                                }).fail(function(xhr){
                                    var response = JSON.parse(xhr.response);
                                    webix.message({type: 'error', text: response.error.message});
                                });
                                webix.message("'Update' action");
                            } 
                        },
                        { view:"button", value:"Delete", width:100,
                            click:function(){ 
                                webix.ajax().del("{% url 'movies:movie-detail' 0%}".replace("0",$$("datatable").getSelectedId(false))).then(function(result){
                                    location.reload();
                                }).fail(function(xhr){
                                    var response = JSON.parse(xhr.response);
                                    webix.message({type: 'error', text: response.error.message});
                                });
                                webix.message("'Delete' action");
                            } 
                        }
                    ]}
                    
                ]
            };

            var nav = {rows:[{
                            view:"label", 
                            label: "Navigation bar", 
                            inputWidth:100, 
                            align:"left"
                        },{cols:[
                        
                        { view:"button", value:"Character", width:250,
                            click:function(){ 
                                webix.send("/movies/characters/", null, "GET");
                            }

                        },
                        { view:"button", value:"Person", width:250,
                            click:function(){
                                webix.send("/cast/", null, "GET");
                            } 
                        },
                        { view:"button", value:"Review", width:250,
                            click:function(){
                                webix.send("/reviews/", null, "GET");
                            } 
                        }
                    ]}]}
            
            webix.ready(function(){
                webix.ui({
                    rows:[
                    {
                        type:"wide", rows:[ tab, form ]
                    },
                    {type:"wide", rows:[nav]}
                    ]
                });

                $$("form1").bind("datatable")
            })

        </script>
    </body>
</html>